body
{
    background-image: url("../images/background.jpg");
    color: #312010;
}

h1, h2, h3, h4{
    font-family: 'Pathway Gothic One', sans-serif;
}

.center
{
    padding-left: 76%;
}

.content
{
    margin-left: 30%;
    margin-right: 26%;
}

ul 
{
    list-style-type: none;  
}

ul li:before
{
    content: '\204D';
    margin: 0 1em;
}

li
{
    margin-bottom: 10px;
}

.link
{
    color: #654321;
    border-top: 1px solid black;
    padding: 14px 16px;
    display: block;
    text-decoration: none;
}

#title
{
    font-size: xx-large;
    margin-bottom: 0px;
}

#header
{
    margin-top: 10px;
    font-size: medium;
}

.verticalDivider
{
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
    height:80%;
    position:absolute;
    right:25%;
    top:10%;
    border-color: goldenrod;
}

.background-list
{
    margin-left: 76%;
    background-image: linear-gradient(#F37658, #FCD77C);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
}

.to-home
{
    color: #654321;
    border-top: 1px solid black;
    padding: 14px 16px;
    display: block;
    text-decoration: none;
}

.chess_board
{
    background-image: url("../images/board.png");
    background-size: cover;
    height: 420px;
    width: 70%;
}

.board
{
    padding-top: 36%;
    padding-left: 13%;
}

.cat
{
    height: 30px;
    width: 30px;
    align-self: center;
}

.mouse{
    height: 30px;
    width: 30px;
    align-self: center; 
}

.cell-white
{
    height: 31px;
    width: 31px;
    border: 1px solid black;
    background-color: white;
}

.cell-color{
    height: 31px;
    width: 31px;
    border: 1px solid black;
    background-color: #C5A46F;
}