{% extends "mouse_cat/base.html" %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
<div id="content">
    <h1>Play</h1>
    <form id="move_form" method="post" action="{% url 'move' %}" hidden>
        {% csrf_token %}
        <p>
            Cats: <b>{{ game.cat_user.username }}</b>
            {% if game.cat_user.id == request.user.id %}
                <blockquote class="cat">
                    {% if game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the mouse...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
        <p>
            Mouse: <b>{{ game.mouse_user.username }}</b>
            {% if game.mouse_user.id == request.user.id %}
                <blockquote class="mouse">
                    {% if not game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the cat...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
    </form>

    {% if board %}
        <div class="chess_board">
        <table class="board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            {% with checker=forloop.counter0|div:8%}
            {% if checker|divisibleby:2 and forloop.counter0|divisibleby:2 %}
            <td class="cell-white" id="cell_{{ forloop.counter0}}">
                {% if item ==  0 %} 
                {% elif item == 1 %} <img class="cat" src="{% static 'images/cat.png'%}">
                {% else %}  <img class="mouse" src="{% static 'images/mouse.png'%}"> {% endif %}
            </td>
            {% elif not checker|divisibleby:2 and not forloop.counter0|divisibleby:2 %}
            <td class="cell-white" id="cell_{{ forloop.counter0}}">
                {% if item ==  0 %} 
                {% elif item == 1 %} <img class="cat" src="{% static 'images/cat.png'%}">
                {% else %}  <img class="mouse" src="{% static 'images/mouse.png'%}"> {% endif %}
            </td>  
            {% else %}    
            <td class="cell-color">
            </td>      
            {% endif %}
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
            {%endwith%}
        {% endfor %}
        </table>
    </div>
    {% endif %}

    <p><a class="to-home" href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}