{% extends "mouse_cat/base.html" %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
<div id="content">
    <h1>History</h1>
    {% if board %}
        <div class="chess_board">
        <table class="board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            {% with checker=forloop.counter0|div:8%}
            {% if checker|divisibleby:2 and forloop.counter0|divisibleby:2 %}
            <td class="cell-white" id="cell_{{ forloop.counter0}}" onclick="clickFunction(this); this.style.backgroundColor = '#2196F3';">
                {% if item ==  0 %}
                {% elif item == 1 %} <img class="cat" src="{% static 'images/cat.png'%}">
                {% else %}  <img class="mouse" src="{% static 'images/mouse.png'%}"> {% endif %}
            </td>
            {% elif not checker|divisibleby:2 and not forloop.counter0|divisibleby:2 %}
            <td class="cell-white" id="cell_{{ forloop.counter0}}" onclick="clickFunction(this); this.style.backgroundColor = '#2196F3';">
                {% if item ==  0 %}
                {% elif item == 1 %} <img class="cat" src="{% static 'images/cat.png'%}">
                {% else %}  <img class="mouse" src="{% static 'images/mouse.png'%}"> {% endif %}
            </td>
            {% else %}
            <td class="cell-color">
            </td>
            {% endif %}
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
            {%endwith%}
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if next %}
    <form method="get" action="{% url 'game_history' next %}">
        <input class="button" type="submit" value="Next">
    </form>
    {% endif %}
    {% if previous > -1 %}
    <form method="get" action="{% url 'game_history' previous %}">
        <input class="button" type="submit" value="Previous">
    </form>
    {% endif %}

    <p><a class="to-home" href="{% url 'landing' %}">Return to homepage</a></p>

</div>

{% endblock content %}
