{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
    <h3>Reglas del juego:</h3>
    <ul>
        <li>Es un juego para dos jugadores. Uno tomará 
            control de los gatos y el que se una a su 
            partida será el ratón.
        </li>
        <li>
            Las piezas del gato sólo se podrán mover en diagonal
            hacia abajo.
        </li>
        <li>
            La pieza del ratón se puede mover en diagonal, tanto
            para arriba como para abajo.
        </li>
        <li>
            Cada turno cada jugador mueve una ficha y pasa el turno
            al jugador siguiente.
        </li>
        <li>
            El gato siempre empieza.
        </li>
    </ul>
    <h3>Condición de victoria</h3>
    <ul>
        <li>
            Un jugador gana si el otro no tiene movimientos
            posibles
        </li>
    </ul>
{% endblock content %}
